<script lang="ts">
    import Code from "$lib/components/typographie/Code.svelte";
</script>

<div class="text-xl leading-9">
    <Code>dk</Code> is a minimalist TUI to interact faster with Docker.

    <pre>
        <code>
dk
        </code>
    </pre>
</div>
